---
layout: default
title: Keep simple & live Strong
---

<div id="home">
  {% for category in site.categories %}
  <h2>{{ category | first }}</h2>
  <ul class="posts">
      {% for post in category.last %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
  {% endfor %}
</div>

<div class="footer">
  <div class="contact">
    <p>
      Gary zhang<br />
      Coder<br />
      Triathlete<br />
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="http://about.me/gary.zzhang">About me</a><br />
      <a href="https://github.com/zhangzhe">Github</a><br />
      <a href="http://www.linkedin.com/in/garyzzhang">LinkedIn</a><br />
    </p>
  </div>
</div>